


#Playlist
{
    z-index: 1;
    position: absolute;
    background-color: #F9F2ED;
    height: 100vh;
    width: 300px;
    resize: horizontal;
    overflow: auto;
    border-right: 4px solid blueviolet;

    margin: none;
    padding: none;
}


#AlbumCover
{
    z-index: 0;
    position: absolute;
    width: 100vmax;
    height: 900px;
    background-color: #3AB0FF;
    margin: none;
    padding: none;
    
}

#Controls
{
    z-index: 0;
    position: absolute;
    width: 100vmax;
    height: 100px;
    background-color: #F9F9F9;
    bottom: calc(100% - 700px);

    display: flex;
    padding-left: 150px;
    justify-content: center;
    align-items: center;
}

#Recommendations
{
    z-index: 0;
    background-color: #FFB562;
    position: absolute;
    bottom: 0px;
    width: 100vmax;
    height: calc(100% - 700px);
    margin: none;
    padding: none;
    
}


  
.button {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: none;
    background: #f64747;
    border: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    z-index: 110;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: #1f3a93;
    transform: scale(0);
    transform-origin: 83% 86%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.button.active::before {
    transition-timing-function: ease;
    transform: scale(1);
}

.button .play {
    width: 40px;
    height: 40px;
    background: #fff;
    margin-left: 15px;
    z-index: 100;
    clip-path: polygon(0 0, 80% 48%, 0 100%, 0% 100%);
    transition: clip-path 0.5s ease;
    transition-delay: 0.4s;
}

.button .play.active {
    transition: clip-path 0.1s;
    width: 60px;
    height: 40px;
    clip-path: polygon(0 0, 27% 0, 27% 100%, 0% 100%);
}

.small-box {
    width: 18px;
    height: 15px;
    background: #fff;
    position: absolute;
    left: 65px;
    z-index: 100;
    bottom: 59px;
    opacity: 0;
    transition: opacity 1s;
}

.small-box.pauseToPlay {
    animation: pauseToPlay 0.4s ease alternate-reverse;
}

@keyframes pauseToPlay {
    10% {
        transform: rotate(90deg);
        left: 45px;
    }
    20%,
    40% {
        transform: rotate(180deg);
        left: 45px;
    }
    50% {
        left: 45px;
        height: 40px;
        bottom: 20px;
        transform: rotate(180deg);
    }
    100% {
        left: 45px;
        height: 40px;
        bottom: 20px;
        transform: rotate(180deg);
}
}

.small-box.active {
    opacity: 1;
    transition: opacity 1s;
    animation: move 0.8s cubic-bezier(0.52, 1.64, 0.37, 0.66) forwards;
    animation-delay: 0.2s;
}

@keyframes move {
    10% {
        transform: rotate(90deg);
        left: 45px;
        width: 15px;
    }
    20%,
    40% {
        transform: rotate(180deg);
        left: 45px;
        width: 15px;
    }
    50% {
        left: 45px;
        height: 40px;
        bottom: 20px;
        width: 16px;
        transform: rotate(180deg);
    }
    100% {
        left: 45px;
        height: 40px;
        bottom: 20px;
        width: 16px;
        transform: rotate(180deg);
    }
}

